# PocketBase
pb/pb_data/
pb/pocketbase
pb/pb_public/
pb/CHANGELOG.md
pb/LICENSE.md

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env

# Dev
CLAUDE.md
.env
vapid-keys.json
.DS_Store
*.log
*.tsbuildinfo
node_modules/
